/* BEGIN (write your solution here) */
@font-face {
    font-family: Raleway-Bold;
    src: url('assets/fonts/Raleway-Bold.ttf');
}
@font-face {
    font-family: Raleway-Regular;
    src: url("assets/fonts/Raleway-Regular.ttf");
}
/* END */

body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 50px;

    color: #eee;

    /* BEGIN (write your solution here) */
    font-family: Raleway-Bold, sans-serif;
    font-size: 20px;
    line-height: 1.5;

    /* END */

    background-image: linear-gradient(to right top, #222831, #282d36, #2d333b, #333841, #393e46);
}

img {
    max-width: 100%;

    vertical-align: middle;
}

a {
    color: inherit;
}

h1 {
    font-size: 2em;
}

h2 {
    color: #00adb5;
    font-size: 1.5em;
}

.tabs {
    width: 1024px;
    margin: 0 auto;

    /* BEGIN (write your solution here) */
    break-inside: avoid;

    /* END */
}

/* BEGIN (write your solution here) */
.tabs-content {
    padding: 20px;
    column-count: 3;
    background-color: #393e46;
    column-gap: 30px;
}
.tab-name{
    box-sizing: border-box;
    font-family: Raleway-Regular, sans-serif;
    display: inline-block;
    width: 341px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #00adb5;
}
.tab-name:hover {
    border-bottom: 3px solid #5ffbf1;
}
.tabs-content-item{
    column-gap: 20px;
    display: none;

}
p{
    font-family: Raleway-Regular, sans-serif;

}

a[data-tab="html"]:hover ~ .tabs-content > div[data-tab-content="html"] {
    display: block;
}
a[data-tab="html"]:focus ~ .tabs-content > div[data-tab-content="html"] {
    display: block;
}
a[data-tab="css"]:hover ~ .tabs-content > div[data-tab-content="css"] {
    display: block;

}
a[data-tab="css"]:focus ~ .tabs-content > div[data-tab-content="css"] {
    display: block;
}
a[data-tab="js"]:hover ~ .tabs-content > div[data-tab-content="js"] {
    display: block;
}
a[data-tab="js"]:focus ~ .tabs-content > div[data-tab-content="js"] {
    display: block;
}
/* END */

.span-all {
    column-span: all;
}
